<% @reviewers.each do |reviewer| %>
  <div class="stats span-24">
	<div class="span-4"><%= gravatar_image_tag reviewer.email , :class => "gravatar", :alt => reviewer.email %></div>
	<div class="span-10"><span class="big span-10 last">Reviewed</span><span class="digit span-10 last"><%= Review.where(:reviewer_id => reviewer.id).count %></span></div>
    <div class="span-10 last"><span class="big span-10 last">Published</span><span class="digit span-10 last"><%= Review.where(:publisher_email => reviewer.email).count %></span></div>
	<hr />
  </div>
<% end %>
</table>