<div class="span-24 last">
	<div class="span-4"><%= gravatar_image_tag @reviewer.email , :class => "gravatar", :alt => @reviewer.email %></div>
	<div class="span-20 last"><%= @reviewer.email %></div>
</div>
<div class="span-24 last">
	<ul>
	<% @reviewer.reviews.each do |review| %>
		<li><%= review.date %> | <%= review.branch %></li>
	<% end %>
	</ul>
</div>