/** Reviews **/

.box {
	margin: 0 0 12px 0;
	padding: 10px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
}

.squarebox {
	margin: 0 0 12px 0;
	padding: 10px;
	box-shadow: 2px 2px 0 #ccc,-2px -2px 0 #fff;
	-webkit-box-shadow: 2px 2px 0 #ccc,-2px -2px 0 #fff;
	-moz-box-shadow: 2px 2px 0 #ccc,-2px -2px 0 #fff;
	background: rgba(255, 255, 255, 0.6);
}

.review {
	font-size: 140%;
}

.reviewer {
	margin: 0 20px 12px 0;
	background: rgba(255, 255, 255, 0.6);
}

.commits {
	
}

.review-actions {
	
}

.review-actions span{
	float: right;
}

.photo span {
	display: block;
}

.big {
	font-size: 150%;
	text-align: center;	
}

.digit {
	font-size: 200%;
	font-style: italic;
	font-weight: bold;
	text-align: center;	
}


.smaller{
	font-size: 75%;
}

.pending {
	background: rgba(255, 54, 0, 0.6);
}

.done {
	background: rgba(116, 223, 0, 0.6);
}

.white {
	color: white;
	font-weight:bold;
}


.title {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

.gravatar {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	margin-top: .2em;
}

.commit-hash {
	font: 1em 'andale mono','lucida console', monospace;
	margin-right: 1em;
}

.commit-message {
	font: italic 1em "Georgia",serif;
}

.commit-branch {
	text-transform: uppercase;
}

.subject {
	text-transform: uppercase;
	font-weight: bold;
}

/** Layout **/

.container {
	width: 950px;
}

body {	
	background-image: url('background.gif');
}

a {
	color: #09F;
}

hr {
	border: 2px solid;
}

header {
	padding: 10px 100px 10px 100px;
	margin-bottom: 2em;
	background-image: url('header-bg.png');
}

header h1 {
	display: inline;
	font: 500 1.2em sans-serif;
	text-shadow: rgba(0, 0, 0, .7) 1px 1px 2px;
	color: white;
	line-height: 0.8;
}

header h1 a {
	text-decoration: none;
	font-size: 3em;
	letter-spacing: 7px;
	position: relative;
	padding-left: -1em;
}

section {
}

nav {
	float: right;
	white-space: nowrap;
	margin-top: 0.65em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

footer {
	text-align: center;
	margin-top: 10px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}
