<header>
	Reviewme
	<nav>
		<ul>
			<li><%= link_to "pending", pending_reviews_path %></li>
			<li><%= link_to "done", done_reviews_path %></li>
			<li><%= link_to "all", reviews_path %></li>
		</ul>
	</nav>
</header>