<header>
	<h1><a>Reviewme</a>... it'd better be clean and tested</h1>
	<nav>
		<ul>
			<li><%= link_to "pending", pending_reviews_path %></li>
			<li><%= link_to "done", done_reviews_path %></li>
			<li><%= link_to "all", reviews_path %></li>
		</ul>
	</nav>
</header>